.idea
.ipynb_checkpoints
dispersion_solver/dispersion_data/all_data

dispersion_solver/dispersion_data/general_results/images_dispersion/

dispersion_solver/util/__pycache__/

dispersion_solver/dispersion_data/change_n/5e\+16/images_dispersion/
